Explore this dataset using pandas...

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [17]:
df

    item_code  ... sort_sequence
0         AA0  ...             2
1        AA0R  ...           399
2         SA0  ...             1
3        SA0E  ...           374
4       SA0L1  ...           358
..        ...  ...           ...
394   SS68023  ...           352
395   SSEA011  ...           314
396  SSFV031A  ...           122
397   SSGE013  ...           355
398   SSHJ031  ...           165

[399 rows x 5 columns]

In [18]:
df.dtypes

item_code        object
item_name        object
display_level     int64
selectable       object
sort_sequence     int64
dtype: object

In [19]:
df["item_code"][4]

'SA0L1'

In [20]:
df["item_code"]

0           AA0
1          AA0R
2           SA0
3          SA0E
4         SA0L1
         ...
394     SS68023
395     SSEA011
396    SSFV031A
397     SSGE013
398     SSHJ031
Name: item_code, Length: 399, dtype: object